@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: rgb(0, 0, 0);
}
/* shared-style */
.btn-primary{
    border-radius: 45px;
    width: 208px;
    height: 46px;
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);;
    border: 0px;
}

.font{
      font-family: "Work Sans", sans-serif;
}

/* nav style */

.header{
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

div ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px 0px 190px;
}
.nav-title{
    color: rgb(230, 83, 60);
font-size: 36px;
font-weight: 800;
}

.nav-elements{
    width: 395px;
    height: 66px;
}

.nav-element{
    display: flex;
    gap: 47px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: Inter;
    padding: 4px;
    align-items: center;
    padding-left: 36px;
  
}

#home{
    width: 52px;
    height: 22px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}
.head{
    display:flex;
    justify-content: space-between;
    margin-left: 190px;
}


.header-title{
    color: rgb(255, 255, 255);
font-size: 78px;
font-weight: 900;
}
.header-contant{
    color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
width: 500px;
}
.header-image{
    margin-right: 214px;
    
}

.button{
    border-radius: 45px;
    width: 208px;
    height: 46px;
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);;
    border: 2px solid white;
}
.another-div-1{
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    position: absolute;
    left: 1000px;
    top: 290px;
    text-align: center;
}
.video-title-1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 0px;
}

.video-paragraph-1{
    color: rgba(255, 255, 255, 0.65);
font-size: 13px;
font-weight: 400;

}

.another-div-2{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
width: 206px;
height: 96px;
position: absolute;
left: 715px;
top: 556px;
text-align: center;
}
.another-div-2 h2{
    color: white;
}

.another-div-2 p{
    color: rgba(239, 237, 232, 0.65);
}

/* change your habit */

.habit{
    margin: 100px 198px;

}
.habits-title{
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
text-align: center;
}
.habits-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
padding-bottom: 58px;
text-align: center;
}
.habit-elements{
display: flex;
margin: 58px 0px;
margin: 0px 190px;
}

.habit-element{
width: 231px;
height: 274px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0px 40px;
}
.element-image{
border-radius: 50%;
}

.element-title{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
}

.element-paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* habit-footer */

.run{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    margin: 100px 190px;
}
.run-content{
    margin: 41px 0px 40px 54px;
    height: 290px;
    width: 443px;
}

.run-title{
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
text-align: left;
}

.run-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
text-align: left;
}
.habit-button{

}
.run-image-box{
    margin: 30px 32px 29px 0px;
    margin-right: 0px;
}

.run-image{
    border-radius: 18px;
    background: url(4);
width: 366px;
height: 312px;
margin: 30px;
}

/* bmi calculator */

.bmi-calculator{
    text-align: center;
}
.bmi-head-title {
    margin-bottom: 15px;
    width: 353px;
    height: 58px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmi-title{
    font-size: 28px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmi-title-paragraph {
    margin: auto;
    text-align: left;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-content{
    display: flex;
    justify-content:space-around;
    background: rgb(34, 34, 34);
    margin-top: 100px;
    
}
.bmi-content-div{
    margin: auto;
    text-align: left;
    width: 611px;
    height: 120px;
}

div{
    border-collapse: collapse;
}
.tr{
    color: rgba(235, 221, 221, 0.5);
}
td,th{ 
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
}

.calculate-your-bmi{
    width: 577px;

}

.bmi-title{
    text-align: left;

}

.bmi-paragraph{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 500px;
    text-align: left;
}

.table{
    text-align: left;
}

.input-1 {
    margin: 0px 0px 8px 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 14px 40px;
    border-radius: 10px;
}
.input-2 {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 14px 324px 14px 12px;
    color: #6b6b6b;
}

.table-button{
    margin: 19px 365px 52px 0px;
}

/* team */
.team{
    text-align: center;
    margin: 88px 190px;
}

.team-title{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.team-paragraph{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.team-images{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    width: 1060px;
    height: 604px;
    padding-top: 30px;
}

.team-image{
    width: 327px;
    height: 272px;
    border-radius: 18px;
    padding: 6px;
}
/* footer */

footer {
    background: rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
}
.footer-content{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
.footer-title{
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.footer-paragraph{
    font-size: 14px;
    font-weight: 400;
    width: 443px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-get-menu{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

div ul li {
    margin-left: -32px;
    padding-bottom: 8px;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.copyright {
    margin: auto;
    border-top: 1px solid #888888;
    width: 1148px;
    margin-top: 50px;
}
.copyright p{
    text-align: center;
    color: #888888;
}



/* responsive media query */

@media screen and (max-width:576px) {
    .main-head{
        text-align: left;
    }
    .navbar{
        text-align: left;
        margin-top: 52px;
        margin-left: 20px;
    }
    .nav-elements{
        display: none;
    }
    .header-title{
        font-size: 36px;
        width: 285px;
        height: 129px;
    }
    .header-contant{
        width: 274px;
        height: 96px;
    }
    .head{
        flex-direction: column;
        margin-left: 20px;
    }
    .btn{
        display: flex;
        gap: 14px;
        margin-left: 0px;
    }
    .btn-primary, .button{
        width: 169px;
        height: 54px;
        width: 169px;
    }

    .header-image{
        height: 588px;
        width: 353px;
    }

    .another-div-1{
        margin: 326px 13px 0px -782px;
        width: 145px;
    }
    .another-div-2{
        margin: 253px 13px 0px -666px;
        width: 121px;
    }

    /* habit */

    .habits-title{
        width: 318px;
        height: 38px;
        font-size: 32px;
        margin-left: 39px;
    }
    .habits-paragraph{
        margin-left: 39px;
        width: 316px;
        margin-bottom: 40px;
    }
   .habit-elements{
    flex-direction: column;
    gap: 40px;
    margin-left: 39px;
   }
   .element-title{
    margin-bottom: 6px;
   }
   .element-paragraph{
    margin-top: 6px;
   }
     /* run */

     .run-section{
        margin: 66px 20px;
     }
   .run{
    flex-direction: column;
    margin: 0px;
    width: 353px;
    height: 531px;
   }

   .run-title{
    font-size: 32px;
    width: 287px;
    height: 76px;
    margin: 0px;
   }

   .run-paragraph{
    width: 287px;
    height: 96px;
    margin: 0px;
   }

   .habit-button{
    margin: 0px;

   }

   .run-image-box{
    margin: 0px 33px 35px 33px;
   }

   .run-image{
    width: 287px;
    height: 170px;
    margin: 0px;
   }

   /* bmi-calculator */

   .bmi-head-title{
    font-size: 28px;
    width: 236px;
    height: 38px;
   }

   .bmi-title-paragraph{
    width: 353px;
    height: 72px;
    margin: 0px;
   }

   .bmi-content-div{
    margin: 0px 20px 32px 20px;
   }
   .bmi-content{
    flex-direction: column;
   }

   .bmi-title{
    width: 167px;
    height: 19px;
    font-size: 16px;
   }

   .calculate-your-bmi{
    margin: 43px 20px;
   }

   .bmi-calculator-chart{
    margin: 23px 64px 0px 20px;
   }

   .bmi-paragraph{
    width: 346px;
    height: 72px;
   }

   .table{
    width: 353px;
    height: 168px;
   }
   .input-1 {
    width: 79px;
    height: 22px;
   }

   .input-2{
    width: 179px;
    height: 22px;
    padding: 22px 127px;
    padding-left: 20px;
    text-align: left;
   }
   .table-button{
    width: 224px;
    height: 54px;
    margin-left: 20px;
    margin-top: 34px;
   }

      /* team */
      .team{
        margin: 0px;
       }

       .team-title{
        width: 243px;
        height: 38px;
        font-size: 32px;
        padding: 0px 33px;
       }
    
       .team-head{
        margin-left: 22px;
        height: 124px;
        width: 309px;
        margin-bottom: 20px;
       }
    
       .team-images{
        width: 353px;
        display: flex;
        flex-direction: column;
        margin: 20px;
       }
    
       .team-image{
        margin: 4px 8px;
       }
    
    
        /* footer */
    
       footer{
        margin-top: 1100px;
       }
       .footer{
        margin-left: 20px;
       }

       .footer-title{
        font-size: 70px;
        width: 256px;
        height: 84px;
        margin-top: 44px;
        margin-bottom: 20px;
       }

       .footer-paragraph{
        font-size: 14px;
        width: 317px;
        height: 96px;
       }

       .get-menu{
        margin-top: 30px;
       }


       .footer-content{
        flex-direction: column;
       }

       .copyright{
        margin-left:20px;
        width: 280px;
       }

       .all-right{
        width: 318px;
        height: 24px;
        margin-left: -60px;
       }
      
}